{% extends "quick_covid/base.html" %}

{% block title %}Index{% endblock title %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

	<a href="/"><h1 class="text-center mb-5 text-light">Quick Covid Info</h1></a>

	<h6 class="text-center text-light">Last Updated: {{ last_updated|timesince }} ago</h6>

	<hr class="col-6 mb-5 bar">

	<form action="." method="post" class="col-lg-8 m-auto" id="fetch-location-form">
		{% csrf_token %}
		<legend class="text-center text-light">Pick A Country</legend>
		<div class="form-group text-center">
			<select name="location" class="select form-control" required="" id="id_location"> 
				<option value="" selected="">---------</option> 
				{% for loc in all_location_names %}
					<option value="{{ loc.name }}">{{ loc.name }}</option> 
				{% endfor %}
			</select>
			<button type="submit" class="sub-btn btn-outline-primary mt-4 p-3 w-100 rounded"><span class="">VIEW</span></button>
		</div>
	</form>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body">
				<h1 id="location-name" class="text-center text-light">{{ location.name }}</h1>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div id="location-image-container" class="card-body">
				{{ location.get_flag_image_html|safe }}
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-cases-total" class="text-light">{{ location.cases_total|intcomma }}</h1>
				<small class="text-light">total cases</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-cases-per-100k" class="text-light">{{ location.cases_total_per_100k|intcomma }}</h1>
				<small class="text-light">Total Cases Per 100k</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-cases-last-7" class="text-light">{{ location.cases_newly_reported_last_7_days|intcomma }}</h1>
				<small class="text-light">Newly Reported Cases Last 7d</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-cases-last-24" class="text-light">{{ location.cases_newly_reported_last_24_hours|intcomma }}</h1>
				<small class="text-light">Newly Reported Cases Last 24hr</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-deaths-total" class="text-light">{{ location.deaths_total|intcomma }}</h1>
				<small class="text-light">Total Deaths</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-deaths-per-100k" class="text-light">{{ location.deaths_total_per_100k|intcomma }}</h1>
				<small class="text-light">Total Deaths Per 100k</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-deaths-last-7" class="text-light">{{ location.deaths_newly_reported_last_7_days|intcomma }}</h1>
				<small class="text-light">Newly Reported Deaths Last 7d</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 id="location-deaths-last-24" class="text-light">{{ location.deaths_newly_reported_last_24_hours|intcomma }}</h1>
				<small class="text-light">Newly Reported Deaths Last 24hr</small>
			</div>
		</div>
	</div>

	<hr class="col-6 mb-5 bar">


  <div id="container" class="mt-5 mb-5 pt-5">
    <canvas id="death-chart" data-url="{% url 'quick_covid:fetch-deaths' %}"></canvas>
  </div>

{% endblock content %}


{% block extra_scripts %}


<script>

	$(function () {

	  var $populationChart = $("#death-chart");
	  $.ajax({
	    url: $populationChart.data("url"),
	    success: function (data) {

	      var ctx = $populationChart[0].getContext("2d");

	      new Chart(ctx, {
	        type: 'bar',
	        data: {
	          labels: data.labels,
	          datasets: [{
	            label: 'deaths',
	            backgroundColor: 'blue',
	            data: data.data
	          }]          
	        },
	        options: {
	          responsive: true,
	          legend: {
	            position: 'top',
	          },
	          title: {
	            display: true,
	            text: 'Top 10 Most Deaths Globally'
	          }
	        }
	      });

	    }
	  });

	});

</script>


<script>
  // Function to fetch a location object and insert the values into the dom
  $(document).ready(function () {
    $('#fetch-location-form').submit(function () {
      $.ajax({
        data: $(this).serialize(),
        type: 'POST',
        url: "{% url 'quick_covid:fetch-location' %}",
        success: function (response) {
        	$('#location-image-container').empty().append(response.country_image_html);
        	$('#location-name').empty().append(response.name);
        	$('#location-cases-total').empty().append(response.cases_total);
        	$('#location-cases-per-100k').empty().append(response.cases_total_per_100k);
        	$('#location-cases-last-7').empty().append(response.cases_newly_reported_last_7_days);
        	$('#location-cases-last-24').empty().append(response.cases_newly_reported_last_24_hours);
        	$('#location-deaths-total').empty().append(response.deaths_total);
        	$('#location-deaths-per-100k').empty().append(response.deaths_total_per_100k);
        	$('#location-deaths-last-7').empty().append(response.deaths_newly_reported_last_7_days);
        	$('#location-deaths-last-24').empty().append(response.deaths_newly_reported_last_24_hours);
        },
        error: function (response) {
        	alert('Something went wrong');
        }
      });
      return false;
    });
  });
</script>

{% endblock extra_scripts %}
