{% extends "quick_covid/base.html" %}

{% block title %}Index{% endblock title %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}

	<a href="/"><h1 class="text-center mb-5 text-light">Quick Covid Info</h1></a>

	<h6 class="text-center text-light">Last Updated: {{ last_updated|timesince }} ago</h6>

	<hr class="col-6 mb-5 bar">

	<form action="." method="post" class="col-lg-8 m-auto">
		{% csrf_token %}
		<legend class="text-center text-light">Pick A Country</legend>
		<div class="form-group">
			{{ form|crispy }}
			<button type="submit" class="sub-btn btn btn-outline-primary btn-lg w-100"><span class="">View</span></button>
		</div>
	</form>

	<div class="col-4 m-auto d-flex justify-content-center p-5">
		<i class="fas fa-arrow-down text-primary"></i>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body">
				<h1 class="text-center text-light">{{ location.name }}</h1>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.cases_total|intcomma }}</h1>
				<small class="text-light">total cases</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.cases_total_per_100k|intcomma }}</h1>
				<small class="text-light">Total Cases Per 100k</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.cases_newly_reported_last_7_days|intcomma }}</h1>
				<small class="text-light">Newly Reported Cases Last 7d</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.cases_newly_reported_last_24_hours|intcomma }}</h1>
				<small class="text-light">Newly Reported Cases Last 24hr</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.deaths_total|intcomma }}</h1>
				<small class="text-light">Total Deaths</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.deaths_total_per_100k|intcomma }}</h1>
				<small class="text-light">Total Deaths Per 100k</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.deaths_newly_reported_last_7_days|intcomma }}</h1>
				<small class="text-light">Newly Reported Deaths Last 7d</small>
			</div>
		</div>
	</div>

	<div class="mb-5 mt-5">
		<div class="card loc-card col-lg-8 m-auto">
  			<div class="card-body text-center">
				<h1 class="text-light">{{ location.deaths_newly_reported_last_24_hours|intcomma }}</h1>
				<small class="text-light">Newly Reported Deaths Last 24hr</small>
			</div>
		</div>
	</div>

	<hr class="col-6 mb-5 bar">

{% endblock content %}


{% block extra_scripts %}

{% endblock extra_scripts %}
